@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes loopScroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.shimmer-bar {
  animation: shimmer 2s infinite linear;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
    --cyan: 180, 100%, 50%;
    --cyan-foreground: 180, 100%, 43%;
    --line-color-light: 0 0% 0% / 90%;
    --line-color-dark: 0 0% 100% / 20%;
    --dot-bg-color: #ffffff;
    --dot-border-color: #000000;
    --dot-hover-bg-color: #000000;
    --dot-hover-border-color: #11a0ff;
  }

  .message-highlight {
    background-color: #fef08a !important; 
    box-shadow: 0 0 15px 5px #8B5CF6 !important;
    transition: background-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
  }

  .dark .message-highlight {
    background-color: #554300 !important;
    box-shadow: 0 0 15px 5px #9966ccba !important;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --cyan: 180, 100%, 43%;
    --cyan-foreground: 180, 100%, 50%;
    --line-color-light: 0 0% 0% / 20%;
    --line-color-dark: 0 0% 100% / 20%;
    --dot-bg-color: #ffffff;
    --dot-border-color: #f5f5f5;
    --dot-hover-bg-color: #ffffff;
    --dot-hover-border-color: #11a0ff;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
@layer utilities {
  .line-bg {
    background-color: hsl(var(--line-color-light));
  }

  .dark .line-bg {
    background-color: hsl(var(--line-color-dark));
  }

  .border-line-bg {
    border-color: hsl(var(--line-color-light));
  }

  .dark .border-line-bg {
    border-color: hsl(var(--line-color-dark));
  }
}

@layer utilities {
  .dynamic-bg {
    background-color: var(--background);
  }

  .dynamic-text {
    color: var(--foreground);
  }

  .dynamic-card {
    background: linear-gradient(
      135deg,
      rgba(240, 240, 240, 0.8),
      rgba(240, 240, 240, 0.6)
    );
    color: var(--foreground);
  }

  .dark .dynamic-card {
    background: rgba(173, 177, 179, 0.74);
    color: #f5f5f5;
    backdrop-filter: blur(15px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.5);
  }
}
